<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>652262243425-t0c9u2blio3qom9qhodmuvq6e95em0at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.652262243425-t0c9u2blio3qom9qhodmuvq6e95em0at</string>
	<key>API_KEY</key>
	<string>AIzaSyD9w9kLE9GpazX7P_fa7Wfuih76CaLDmDM</string>
	<key>GCM_SENDER_ID</key>
	<string>652262243425</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Lexie.emojiPet</string>
	<key>PROJECT_ID</key>
	<string>emojipet-39ee4</string>
	<key>STORAGE_BUCKET</key>
	<string>emojipet-39ee4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:652262243425:ios:9d7ee57755a53928d63e20</string>
</dict>
</plist>